.body{
    background-image: url(../Portfolio/img/sweets.PNG);
    background-size: contain;
    background-position: center center;
}

.home{

}

.info{

}

.first{
    color: aqua;
    font-size: 20px;
}

.second{

}

.pancakes{

}

.third{

}

.fourth{

}

.sent{

}

.sns{

}

.twitter{

}

.facebook{

}
.instagram{

}

.pinterest{

}