*{
    margin:0; 
}

body{
    background-image: url(../Portfolio/img/sweets.PNG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.home{

}

.info{

}

.first{
    color: aqua;
    font-size: 20px;
}

.second{

}

.pancakes{

}

.third{

}

.fourth{

}

.sent{

}

.sns{
    display: flex;
    width: 13%;
    padding: 2px;
    border-top: solid 3px gray;
    
}

.twitter img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.facebook img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.instagram img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.pinterest img{
    width: 40px;
    height: 40px;
}